[project]
	description = Isomorphic React + Flux film database example
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tomáš Holas (tomaash)
[access "refs/for/refs/*"]
	read = group user/Tomáš Holas (tomaash)
	push = group user/Tomáš Holas (tomaash)
	label-Code-Review = -2..+2 group user/Tomáš Holas (tomaash)
	label-Verified = -1..+1 group user/Tomáš Holas (tomaash)
	rebase = group user/Tomáš Holas (tomaash)
	removeReviewer = group user/Tomáš Holas (tomaash)
	submit = group user/Tomáš Holas (tomaash)
[access "refs/heads/*"]
	read = group user/Tomáš Holas (tomaash)
	create = group user/Tomáš Holas (tomaash)
	push = +force group user/Tomáš Holas (tomaash)
	pushMerge = group user/Tomáš Holas (tomaash)
[access "refs/tags/*"]
	push = +force group user/Tomáš Holas (tomaash)
	pushTag = group user/Tomáš Holas (tomaash)
	pushSignedTag = group user/Tomáš Holas (tomaash)
